/*  your css code here. If applicable */
.container{
	background-color:#f5f5f5;
	padding:30px
}
.para{
	background-color:#fff;
	padding:10px;
	border:1px solid #D1D1D1;
	margin-bottom:10px
}
.author{
	text-align:right;
	font-style:italic;
}



